section{
  border-radius: 15px;
}

/* .mat-card{
  border: 0 black;
  background-color: #212529;
  border-radius: 10px ;
  margin: 2% 13%;
  display: flex;
} */

.mat-card #second-card{
  padding: 0;
  border-radius: 10px 10px 10px 10px;
}
.comp-flex{
  display: flex;
  margin: 15px 15px;
  justify-content:space-between;
}

h3 {
  color: #FFFFFFE6;
}

.btn-nondeco {
  background: none;
  color: rgb(189, 189, 189);
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: 20px;
}

.btn-nondeco:hover{
  color: white;
}

button {
  margin: 0 5px;
}

.text-box {
  color: #FFFFFFE6;
  margin: 1% 4%;
}

