<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" class="navbar-brand"><img src="../../../assets/images/APLogo-20-20.png" alt="Argentina Programa logo"></a>
    <form class="d-flex">
      <a [href]="perso?.gitLink" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a [href]="perso?.linLink" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <button (click)="login()" type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Iniciar sesión</button>
      <button (click)="login()" type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button>
    </form>
  </div>
</nav>
