.navbar{
  width: 100%;
  padding: 0;
}
img {
  width:100px;
  height:60x;
  margin: 0px 0px;
  border-radius: 5%;
  padding: 0;
}

a i {
  font-size: 30px;
  margin: 0 12px;
  color: rgb(189, 189, 189);
}

a i:hover{
  color: white;
}
form button{
  margin: 0px 12px;
}

.d-flex {
  display: flex!important;
  align-items: center;
}

.navbar-brand{
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 370px){
  a i {
    font-size: 25px;
    margin: 0 12px;
    color: rgb(189, 189, 189);
  }
  img {
    width: 70px;
    height:60x;
    margin: 0px 0px;
    border-radius: 5%;
    padding: 0;
  }

  button{
    width: 60px;
    height: 35px;
    font-size: 9px;
  }
}

@media screen and (max-width: 281px){
  a i {
    font-size: 15px;
    margin: 0 12px;
    color: rgb(189, 189, 189);
  }
  img {
    width: 40px;
    height:60x;
    margin: 0px 0px;
    border-radius: 5%;
    padding: 0;
  }
  button{
    width: 40px;
    height: 25px;
    font-size: 5px;
  }
  
}