<section>
  <div class="card mat-card" id="second-card">

    <div class="comp-flex">
      <h3>
        Proyectos
      </h3>
      <button *ngIf="isLogged" #modalButton type="button" class="btn-nondeco" (click)="open()">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="projects-box">

      <ul class="item-list">
        <li *ngFor="let Proyecto of proyec">
          <div class="project ">
            <div>
              <a [href]="Proyecto.linkProyecto" target="_blank"><img alt="" [src]="Proyecto.imagenProyecto"> </a>
              <h6><strong>{{Proyecto.nombreProyecto}}</strong></h6>
              <p>{{Proyecto.descripcionProyecto}}</p>
            </div>
            <div class="button-box">
              <button class="btn-nodeco edit-button"><i class="fa-solid fa-pencil"></i></button>
              <button class="btn-nodeco trash-button"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>

<!-- Modal agregar -->
<div class="modal fade" tabindex="-1" #proyModal id="proyModal">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header" style="text-align: center;">
        <h5 class="modal-tittle">Añadir nuevo proyecto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="color: #FFFF;"></button>
      </div>
      <div class="modal-body">
        <form #addForm novalidate #f="ngForm">

          <div class="form-group">
            <label for="nombreProyecto" style="color: #FFFFFFE6">Nombre del proyecto</label>
            <input type="text" ngModel name="nombreProyecto" class="form-control" id="nombreProyecto"
              placeholder="Nombre del proyecto" required [(ngModel)]="nombreProyecto" maxlength="31">
          </div>

          <div class="form-group">
            <label for="descripcionProyecto" style="color: #FFFFFFE6">Descripción del proyecto</label>
            <input type="text" ngModel name="descripcionProyecto" class="form-control" id="descripcionProyecto"
              placeholder="descripcion" required [(ngModel)]="descripcionProyecto" maxlength="300">
          </div>

          <div class="form-group">
            <label for="imagenProyecto" style="color: #FFFFFFE6">Link de la imagen</label>
            <input type="text" ngModel name="imagenProyecto" class="form-control" id="imagenProyecto"
              placeholder="Insertar url de imagen" required [(ngModel)]="imagenProyecto" maxlength="500">
          </div>

          <div class="form-group">
            <label for="linkProyecto" style="color: #FFFFFFE6">Link hacia el proyecto</label>
            <input type="text" ngModel name="linkProyecto" class="form-control" id="linkProyecto"
              placeholder="Insertal Url del proyecto" required [(ngModel)]="linkProyecto" maxlength="500">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Confimar</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal agregar -->