
.mat-card{
  border: 0 black;
  background-color: #212529;
  border-radius: 10px ;
  margin: 2% 13%;
  display: flex;
  flex-direction: column;
}

.mat-card #third-card{
  padding: 0;
  border-radius: 10px 10px 10px 10px;
}
.comp-flex{
  display: flex;
  margin: 15px 15px;
  justify-content:space-between;
}

h3, h6, p {
  color: #FFFFFFE6;
}

.btn-nondeco {
  background: none;
  color: rgb(189, 189, 189);
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
  padding: 0;
}

.btn-nondeco:hover{
  color: white;
}


.text-box {
  color: #FFFFFFE6;
  margin: 1% 4%;
}
/*Projects box*/

.projects-box{
  margin: auto;
}

/*Card project*/


.project-tarjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6px;
}

p {
  font-size: 10px;
}

.card {
  display: flex;
  align-items: center;
  margin: 5px 5px 5px 5px;
}

.img-container {
  width: 260px;
  height: 150px;
}
.card img{
  object-fit: cover;
  margin-top: 10px;
  width:  100%;
  height: 150px;
  border-radius: 5px;
}

.card-title{
  text-align: center;
}

.text-card {
  text-align: center;
}

/*BOTONES*/

.button-box {
  display: flex;
  justify-content: space-between;

}

.btn-nodeco{
  background: none;
  color: rgb(189, 189, 189);
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.btn-nodeco:hover{
  color: white;
}

ul{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

ul.item-list{
  padding: 0 0 0 0;
  overflow: hidden;
  list-style: none;
}

li{
  margin: 5px 5px 5px 5px;
}

@media screen and (max-width: 650px){
  ul.item-list {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
