.modal-sheet .modal-dialog {
    width: 380px;
    transition: bottom .75s ease-in-out;
  }
  .modal-sheet .modal-footer {
    padding-bottom: 2rem;
  }
  
  .modal-alert .modal-dialog {
    width: 380px;
  }
  
  .modal-tour .modal-dialog {
    width: 380px;
    
  }
  
.modal-content{
    background-color: 0f1112;
}

h2 {
  color: #FFFFFFE6;
}

.bg{
  background-image: url(../../../assets/images/APLogo-20-20.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25rem;
}
body {
  background: 0f1112;
  /* background: linear-gradient(to right, #000000, #000000); */
}
p{
  color: #FFFFFFE6;
  text-align: center;
  font-size: 14px;
}

.container{
  background-color: #1d2125e2;
  
}



