<div class="container">
    <div class="modal modal-signin d-block py-6" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <!-- <h5 class="modal-title">Modal title</h5> -->
              <h2 class="fw-bold mb-0">¿Ya tienes una cuenta?</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      
            <div class="modal-body p-5 pt-0">

              <form action="GET" #form="ngForm" (ngSubmit)="onLogin()" novalidate enctype="multipart/form-data">

                <div class="form-floating mb-3">
                  <input type="email" class="form-control rounded-3" 
                         id="nombreUsuario" name= "nombreUsuario" 
                         placeholder="Nombre Usuario" [(ngModel)]="nombreUsuario" required/>
                  <label for="nombreUsuario">Usuario</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control rounded-3" 
                         id="password" placeholder="Password"
                         name="password" [(ngModel)]="password" required/>
                  <label for="password">Contraseña</label>
                </div>

                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Iniciar sesión</button>
                <small class="text-muted">Clickeando en iniciar sesión, usted está aceptando los términos y condiciones</small>
              </form>

            </div>
          </div>
        </div>
    </div>

</div>