<section>
  <div class="card mat-card" id="first-card">
      <div id="profile-background" >
        <img alt="" src="../../../assets/images/User-profile-background.jpg" ><!--[src]="dataUser.backImage" -->
      </div>
      <div id="info" style="padding: 16px">
          <div class="info-img">
            <div class="profile-image" style="background-image: url({{persona.img}});"></div> 
            <button *ngIf="isLogged" class="btn-nondeco" (click)="openEdit()"><i class="fa-solid fa-pencil"></i></button>
          </div>
          <div class="info-data">
              <div class="personal-info">
                  <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                  <div class="info-company"><h3>Fullstack Developer Jr</h3></div>
                  <div id="info-contact">
                      <span>Pedro Luro, Buenos Aires </span>
                      <span><a href="#" *ngIf="isLogged">Información de contacto</a></span>
                  </div>
              </div>
              <ul id="info-details">
                  <li>
                      <a href="#"
                          class="link">
                          <i
                            class="fa-solid fa-briefcase"
                            id="work-logo1"></i>
                          <h2>Estudio contable León</h2>
                      </a>
                  </li>
                  <li>
                      <a href="#"
                         class="link">
                          <i
                            class="fa-solid fa-graduation-cap"
                            id="work-logo"></i>
                          <h2>Universidad Nacional del Sur</h2>
                      </a>
                  </li>
              </ul>

          </div>
          <div id="info-action">
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Tengo interés en</button>
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-light">Añadir Sección</button>
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-light">Más</button>
          </div>
      </div>
  </div>

</section>


<!-- Modal editar -->
<div class="modal fade" tabindex="-1" #editPersModal id="editPersModal">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header" style="text-align: center;">
        <h5 class="modal-tittle" style="color: #FFFFFFE6">Editar perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="color: #FFFF;"></button>
      </div>
      <div class="modal-body">
        <form #addForm novalidate #f="ngForm">
          <div class="form-group">
            <label for="Nombre" style="color: #FFFFFFE6">Nombre</label>
            <input type="text" ngModel name="Nombre" class="form-control" id="Nombre"
              placeholder="Nombre" required maxlength="32" [(ngModel)]="nombre">
          </div>
          <div class="form-group">
            <label for="Apellido" style="color: #FFFFFFE6">Apellido</label>
            <input type="text" ngModel name="Apellido" class="form-control" id="Apellido"
              placeholder="Apellido" required  maxlength="32" [(ngModel)]="apellido">
          </div>
          <div class="form-group">
            <label for="img" style="color: #FFFFFFE6">Url de la imagen</label>
            <input type="text" ngModel name="img" class="form-control" id="img"
              placeholder="urls.." required  maxlength="200" [(ngModel)]="img"> 
          </div>
          <!-- <div class="form-group">
            <label for="fechaEgreso" style="color: #FFFFFFE6">Fecha de egreso</label>
            <input type="text" ngModel name="fechaEgreso" class="form-control" id="fechaEgreso"
              placeholder="dd/mm/aaaa" required  maxlength="11">
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="update()">Confimar</button>
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal editar -->
