section {
  border-radius: 15px;
}

.mat-card {
  border: 0 black;
  background-color: #212529;
  border-radius: 5px;
  margin: 2% 13%;
}
.comp-flex{
  display: flex;
  margin: 15px 15px;
  justify-content:space-between;
}

.mat-card #first-card {
  padding: 0;
  border-radius: 10px 10px 10px 10px;
}

div #profile-background {
  border-radius: 15px;
  display: flex;
}

.profile-img-container {
  background-size: contain;
  max-height: 350px;
}

div #profile-background img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;

}

.info-img i {
  font-size: 20px;
  margin: 0 5px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;

}

.btn-nondeco {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  color: rgb(189, 189, 189);
}

.btn-nondeco:hover {
  color: white;
}

.info-img {
  display: flex;
  justify-content: space-between;
}

.profile-image {
  border: 4px solid #212529;
  margin-top: -7em;

  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

#work-logo {
  font-size: 35px;

}

#work-logo1 {
  font-size: 35px;
  margin: 4.5px;
}

.link {
  margin: 3px;
  color: rgb(189, 189, 189);
}



.info-data {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}


ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: auto;
}

ul li a h2 {
  font-size: 16px;
  margin: 0 12px;
  color: #FFFFFFE6;
}


div #info {
  background-color: #212529;
  border-radius: 0px 0px 10px 10px;
  margin: 0;
  padding: 0;
}

div .info-data div h1 {
  font-size: 24px;
  color: #FFFFFFE6;
}

div .info-data div h3 {
  font-size: 15px;
  color: #FFFFFFE6;
}

div .info-data div span {
  font-size: 15px;
  color: #FFFFFFE6;
}

#info-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
 margin-right: 5px;
}

.btn-light {
  color: #FFFFFFE6;
  background-color: #212529;

}

.btn-light:hover {
  color: #FFFFFFE6;
  background-color: #41464b;
}

#info-action{
  margin: 10px 10px;
}




@media screen and (max-width: 768px) {
  .profile-image {
    border: 4px solid #212529;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: -6.5em;
    z-index: 2;
    display: flex;

  }

  .info-data {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    flex-direction: column;
  }

  .personal-info {
    display: flex;
    flex-direction: column;

  }

  #info-details {
    margin: 10px 0 0 -31px;
  }


}

@media screen and (max-width: 680px) {
  .profile-image {
    border: 4px solid #212529;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: -4em;
    z-index: 2;
    display: flex;

  }

  .btn-nondeco {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

  }
}

@media screen and (max-width: 492px) {

  .profile-image {
    border: 4px solid #212529;
    border-radius: 50%;
    min-width: 120px;
    height: 120px;
    margin-top: -4em;
    z-index: 2;
    display: flex;

  }

  #info-action {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* .btn {
    margin: 5px 5px 0 0;
  } */

  button {
    margin-top: 5px;
    margin-right: 0px;
   }
}