<section>
  <div class="card mat-card" id="first-card">
      <div id="profile-background" >
        <img alt="" src="../../../assets/images/User-profile-background.jpg" ><!--[src]="dataUser.backImage" -->
      </div>
      <div id="info" style="padding: 16px">
          <div class="info-img">
            <div class="profile-image" style="background-image: url(../../../assets/images/User-profile-img.jpg);"></div> <!--style="background-image: url({{dataUser.image}})"-->
              <button *ngIf="isLogged" class="btn-nondeco"><i class="fa-solid fa-pencil"></i></button>
          </div>
          <div class="info-data">
              <div class="personal-info">
                  <h1>{{persona.nombre}} {{persona.apellido}}</h1>
                  <div class="info-company"><h3>Fullstack Developer Jr</h3></div>
                  <div id="info-contact">
                      <span>Pedro Luro, Buenos Aires </span>
                      <span><a href="#">Información de contacto</a></span>
                  </div>
              </div>
              <ul id="info-details">
                  <li>
                      <a href="#"
                          class="link">
                          <i
                            class="fa-solid fa-briefcase"
                            id="work-logo1"></i>
                          <h2>Estudio contable León</h2>
                      </a>
                  </li>
                  <li>
                      <a href="#"
                         class="link">
                          <i
                            class="fa-solid fa-graduation-cap"
                            id="work-logo"></i>
                          <h2>Universidad Nacional del Sur</h2>
                      </a>
                  </li>
              </ul>

          </div>
          <div id="info-action">
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Tengo interés en</button>
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-light">Añadir Sección</button>
              <button
                *ngIf="isLogged"
                type="button"
                class="btn btn-light">Más</button>
          </div>
      </div>
  </div>

</section>

<!-- Ingresando modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title"> Añadir intereses </h5>
          <button class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        Descripcion modal
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
