<div
  class="card mat-card"
  id="third-card">

  <div class="comp-flex">
    <h3>
      Habilidades
    </h3>
    <button class="btn-nondeco"><i class="fa-solid fa-plus"></i></button>
  </div>

  <div class="box-bars">

    <ul class="item-list">
      <li *ngFor="let skill of skillUser">
        <div class="box-bar">
          <div class="box-bar-order">
            <i [class]="skill.type" id="skill-logo"></i>
            <h6>{{skill.name}}</h6>
            <progress [value]="skill.progress" max="100"></progress>
          </div>

          <div class="button-box">
            <button class="btn-nodeco edit-button"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn-nodeco trash-button"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>

      </li>
    </ul>

  </div>

</div>


